<h1>About</h1>

<h2 style="color:red;">Mission/Vision</h2>
<p>
Sed tincidunt rutrum nibh, sit amet interdum urna porttitor ut. Proin eget vestibulum erat. Proin convallis mi turpis, a scelerisque arcu tincidunt bibendum. Morbi sed nunc nec diam maximus venenatis. Nullam in convallis diam, id congue eros. Maecenas a dolor ut diam ultrices mollis. Aliquam non lorem sit amet dui elementum tincidunt ac vel ante. Mauris sollicitudin nibh augue, id tincidunt nisl tristique tristique. Donec diam nibh, vestibulum ut elementum eget, eleifend at felis. Etiam aliquam vel purus ut iaculis. Donec sollicitudin porta posuere. Vivamus id fringilla diam.
</p>
<h2 style="color:red;">Members</h2>
<p>
Fusce tempus, arcu ac gravida accumsan, purus nisi maximus magna, sit amet congue justo metus vitae arcu. In lobortis turpis vehicula nibh fermentum commodo non nec eros. Nam pharetra tristique diam id efficitur. Pellentesque libero augue, ullamcorper nec elementum a, blandit quis nulla. Nam cursus ex vitae eros pellentesque dignissim. Pellentesque lobortis pulvinar purus, a egestas sapien hendrerit ac. In ultrices vitae felis in tempor. Maecenas maximus nisi ac leo porta elementum. Pellentesque non sem urna. Sed sed eros auctor, venenatis odio vitae, accumsan orci.
</p><h2 style="color:red;">The Team</h2>
<p>
Duis molestie magna at velit euismod aliquet at in ante. Fusce et sapien et arcu vehicula eleifend at eu nisl. Duis dignissim justo vitae sapien convallis, id facilisis nunc tincidunt. Maecenas condimentum vitae arcu ut commodo. Quisque cursus elementum lectus eu malesuada. Integer metus ipsum, mollis nec elit eu, dictum volutpat tellus. Nam euismod leo orci, vitae euismod quam faucibus quis. Etiam ultricies tempor mattis. Proin at pretium ante. Etiam ultrices imperdiet eleifend. Aenean cursus purus est, eget euismod quam blandit ac. Vivamus quis ipsum maximus, mattis nisi at, fermentum orci. Nam pulvinar congue orci, nec aliquet felis egestas eu. Sed vitae lectus ultrices, tempus enim id, sollicitudin turpis. Integer nec placerat erat, sed vestibulum lacus. Fusce aliquam vestibulum lectus.
</p>
<ul>
  <li>Person 1</li>
  <li>Person 2</li>
  <li>Person 3</li>
</ul>

<p>
  Site created by Nelson Rooker to get accustomed to working with Bootstrap and the Angular 6 Routing Module.
</p>




