<!--The content below is only a placeholder and can be replaced.-->

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a routerLink="/home"  class="navbar-brand" >Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
<!--       <li class="nav-item active">
        <a routerLink="/home" class="nav-link">Home <span class="sr-only">(current)</span></a>
      </li>
 -->      <li class="nav-item">
        <a routerLink="/about" class="nav-link">About</a>
      </li>
      <li class="nav-item">
        <a routerLink="/members" class="nav-link">Members</a>
      </li>
      <li class="nav-item">
        <a routerLink="/projects" class="nav-link">Projects</a>
      </li>
      <li class="nav-item">
        <a routerLink="/events" class="nav-link">Events</a>
      </li>
      <li class="nav-item">
        <a routerLink="/resources" class="nav-link">Resources</a>
      </li>
      <li class="nav-item">
        <a routerLink="/start" class="nav-link">Where to Start</a>
      </li>
      <li class="nav-item">
        <a routerLink="/contact" class="nav-link">Contact</a>
      </li>
<!--       <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Members
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">K-12 students &amp; teachers</a>
          <a class="dropdown-item" href="#">Higher Ed</a>
          <a class="dropdown-item" href="#">Entrepreneurs</a>
          <a class="dropdown-item" href="#">IoT Companies</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Projects
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Is Mom OK?</a>
          <a class="dropdown-item" href="#">Beacons of Gondor</a>
          <a class="dropdown-item" href="#">Here Comes the Sun</a>
          <a class="dropdown-item" href="#">Reward Machine</a>
        </div>
      </li>
 -->

<!--
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
 -->
    </ul>
      <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>


<router-outlet></router-outlet>


